@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "poppins-regular";
  src: url(/fonts/Poppins-Regular.ttf);
}

@font-face {
  font-family: "poppins-semibold";
  src: url(/fonts/Poppins-SemiBold.ttf);
}

@font-face {
  font-family: "poppins-bold";
  src: url(/fonts/Poppins-Bold.ttf);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.poppins-regular {
  font-family: "poppins-regular", sans-serif !important;
}

.poppins-semibold {
  font-family: "poppins-semibold", sans-serif !important;
}

.poppins-bold {
  font-family: "poppins-bold", sans-serif !important;
}

.bg-name {
  text-align: center;
  font-size: 24px;
  line-height: 39px;
  /* identical to box height */

  background: linear-gradient(180deg, #0906a7 0%, #a81d9a 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.bg-name-dark {
  text-align: center;
  font-size: 54px;
  line-height: 39px;
  /* identical to box height */

  background: linear-gradient(130.3deg, #7a4fe1 27.05%, #7a0016 271.08%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
